
a {
  text-decoration: none;
  color: white;
  cursor: pointer;

  
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4rem;

}
.nav-mobile {
  display: none;
}
.resize-logo {
  width: 100px;
}
.logo {
  padding: 10px;
  margin-top: 10px;
  width: 8px;
  height: 40px;
}
.nav-bar {
  background-color: #018dc9;
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-right: 40px;
}
.compaign-button button {
  border: 3px solid;
}