
a {
  text-decoration: none;
  color: white;
  cursor: pointer;

  
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4rem;

}
.nav-mobile {
  display: none;
}
.resize-logo {
  width: 100px;
}
.logo {
  padding: 10px;
  margin-top: 10px;
  width: 8px;
  height: 40px;
}
.nav-bar {
  background-color: #018dc9;
  display: flex;
  justify-content: space-between;
}
.page-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-right: 40px;
}
.button {
  border: 3px solid;
  padding: 10px;
  border-color: #d86530;
  padding: 12px 24px;
  width: fit-content;
  padding: 12px 24px;
  font-weight: 400;
}
.button:hover {
  border: 0.5px solid transparent;
  box-shadow: 0 4px 6px 3px #d3d3d3;
  cursor: pointer;
}